@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;700&display=swap");
/* fonts */
/* colors */
/* Links */
.btn {
  font-weight: 600;
  font-family: "Spectral", serif;
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.herobtn {
  padding-top: 50px;
  align-items: center;
  display: flex;
}

.navigation {
  background-color: #FFFDFA;
  width: 100%;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-style: normal;
}

/* .logo-link {
    display: block;
    transition: color 0.2s ease-in-out;
    text-decoration: none;

    &:hover {
        color:#F29F02;
    }
/* }

#slicehaus {
    width: 260px;
    height: 57px;
    fill: black;
    transition: fill 0.2s ease-in-out;

    &:hover {
        fill: #F29F02;
    }
} */
.nav-list {
  padding-right: 3rem;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding: 10px;
}

.nav-link {
  color: #333E40;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  margin-top: 0;
}
.nav-link:hover {
  color: #F29F02;
}

.brand {
  padding: 10px;
}

svg {
  height: 56px;
}

.breadcrumb {
  padding: 0 0.5rem;
}

.breadcrumb a {
  text-decoration: none;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25rem;
  content: "→";
}

.hero {
  padding-bottom: 300px;
  height: 700px;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 550px;
  margin: 0 auto;
  gap: 2rem;
  padding: 0 2rem;
  z-index: 100;
}

.cards {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  padding: 1rem;
  justify-content: center;
  align-content: center;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  border: 1px solid black;
  width: 300px;
  height: 400px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Spectral", serif;
}

/* Hero */
.hero {
  background-image: url(../../images/store.png);
}

.hero-section-text {
  color: white;
  position: relative;
  top: 50%;
  padding: 20px;
}

.logo-link {
  padding: 20px;
  /* Set the initial color of the path */
  /* Change the color of the path when hovering over the link */
}
.logo-link svg path {
  fill: #333E40;
  transition: fill 0.2s ease-in-out;
}
.logo-link:hover svg path {
  fill: #F29F02;
}

/* button */
.btnsec {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

/*# sourceMappingURL=style.css.map */
